<!DOCTYPE html>

<html>


    <head>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>About</title>
        <link rel="icon" href="/img/cloud.jpg">


    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class='portrait' src="/img/natura.jpg">
        </div>
        
         {{>footer}}



    </body>

 

</html>